"Filetype": sample, "Build number": 1, "Behaviour": post saving, "Behaviour activated action": +1, "Behaviour activated target": "Build number", "Description": "Simple basic file including instructions to apply to itself"