"Filetype": sample, "Build number": 0, "Behaviour": on file saved, "Behaviour activated action": +1, "Behaviour activated target": "Build number", "Description": "Simple basic file including instructions to apply to itself"